# # crawler part
# fake_useragent==1.1.3
# Twisted==22.10.0
# redis[hiredis]
# scrapy-redis
# boltons
# dateparser
# playwright
# pydantic
# pymongo
# python-dateutil
# scrapy-rotating-proxies

# machine learning part
scikit-learn
pandas